@charset "utf-8";

@import "~bulma/sass/base/all";
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/helpers/typography";
@import "~bulma/sass/helpers/visibility";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/menu";
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/all";


.intro {
  margin: auto;
  width: 80%;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: STXinwei, KaiTi, "Microsoft YaHei", "Microsoft JhengHei", "STKaiti", "Hiragino Sans GB", SimHei, Arial, sans-serif;
}

@include touch {
  .card {
    width: 90%;
  }
  .intro {
    width: 90%;
  }
}

.section {
  background-attachment: fixed;
  margin-bottom: 10px;
  background-size: cover;

  & > .title, .subtitle {
    color: white;
  }
}

.chart {
  width: 100%;
  min-height: 300px;
}

@include touch {
  .content {
    padding: 0 20px;
  }
}

html {
  scroll-behavior: smooth;
}

.mt1rem {
  margin-top: 1rem;
}